{% extends 'recipes/base.html' %}
{% load static %}

{% block title %}Lista rețete{% endblock %}

{% block content %}
<div style="text-align: center; margin-top: 20px;">
    <h2>Lista rețete</h2>

    <div style="margin: 20px 0;">
        <a href="{% url 'recipe-list' %}" class="btn btn-primary btn-sm" style="margin-right: 10px;">Ordonează alfabetic</a>
        <a href="{% url 'recipe-date' %}" class="btn btn-outline-primary btn-sm">Ordonează după data postării</a>
    </div>
</div>

{% if recipes %}
    <div class="row">
        {% for recipe in recipes %}
        <div class="col-md-4 mb-4">
            <div class="card h-100" style="background-color: rgba(255,255,255,0.85); border: 1px solid #ccc;">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <p class="card-text">{{ recipe.ingredients|truncatewords:15 }}</p>
                    <a href="{% url 'recipe-detail' recipe.pk %}" class="btn btn-outline-primary btn-sm">Detalii</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p class="text-center">Nu există rețete adăugate momentan.</p>
{% endif %}
{% endblock %}
